<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="brown">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image: url(assets/images/logo/sky.jpg); background-size:100%">


 <ion-grid>
    <ion-row>
     <ion-col>
      <img src="{{photo}}" *ngIf="this.global.shoimg==true" class="slide-image"  on-tap="openGallery(1)" style="width: 40%;height:81%;display: block; margin:auto; border-radius: 50%"/>
       <img src="assets/imgs/camera.png"  *ngIf="this.global.shoimg==false"   on-tap="openGallery(1)" class="slide-image" style="width: 40%;height: 81%;display: block; margin:auto;"/>
            
         

          </ion-col>

        </ion-row>
          
        
         </ion-grid>

<div class="register-form">
      <ion-card>
         <form #f="ngForm">
            <ion-list>
             
               <ion-item>
                  <ion-label floating>First Name</ion-label>
                  <ion-input required type="test" [(ngModel)]="form.firstName" name="firstname"></ion-input>
               </ion-item>
               <ion-item>
                  <ion-label floating>Last Name</ion-label>
                  <ion-input required type="test" [(ngModel)]="form.lastName" name="lastname"></ion-input>
               </ion-item>
               <ion-item>
                  <ion-label floating>Email</ion-label>
                  <ion-input required type="email" [(ngModel)]="form.email" name="email"></ion-input>
               </ion-item>
               <ion-item>
                  <ion-label floating>Password</ion-label>
                  <ion-input required type="password" [(ngModel)]="form.password" name="password"></ion-input>
               </ion-item>
            </ion-list>
            <div class="error-message">
               <ion-label color="danger" text-wrap>{{errorRegisterMessage}}</ion-label>
            </div>
            <div class="row">
               <button style="margin: 20px 20px 0 20px" class="login-button" ion-button block color="secondary" type="submit" class="button button-block button-default" text-uppercase [disabled]="disableRegister" (click)="register()">{{buttonText}}</button>
               <br>
               <button style="margin: 0px 20px 20px 20px"class="forgot-button" ion-button clear color="danger" type="submit" class="button button-block button-clear" (click)="goToLogin()">Login</button>
            </div>
         </form>
      </ion-card>
   </div>


</ion-content>
