<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="brown">
  
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Avant Garde Weddings & Events</ion-title>
	<!--
	<ion-buttons right>
        <button style="background-color:transparent;" (click)="goToMap()">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  -->
	
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" >

	 <ion-card style="height: 200px;">
    <img src="assets/images/background/2.jpg">
    <div class="card-title">Avant Garde Weddings & Events</div>
    <div class="card-subtitles">Vredekloof, cape Town ,South Africa</div>
     <div class="card-subtitle">⭐⭐⭐⭐⭐</div>
  </ion-card>

   <ion-card>
 <ion-slides class="image-slider" loop="true"    slidesPerview="2">

      <ion-slide *ngFor="let img of images">
         <img src="assets/images/background/{{img}}"  imageViewer  class="thumb-img">
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card>




     <ion-card-content>
 Content (media), information or experience provided to audience or end-users by publishers or media producers. Content industry, an umbrella term that encompasses companies owning and providing mass media and media metadata. Content provider, a provider of non-core services in the 
  </ion-card-content>



</ion-card>

  <ion-list>
    <button ion-item class="navig" (click)="openChat()">
      <ion-icon name="chatboxes" item-start></ion-icon>
      Live Chat
       <ion-icon  md="md-arrow-forward"item-end></ion-icon>
    </button>
<button ion-item class="navig" (click)="openemail()">
      <ion-icon name="mail" item-start></ion-icon>
      Send Enquiry
       <ion-icon  md="md-arrow-forward"item-end></ion-icon>
    </button>

    <button ion-item class="navig" (click)="getDirection()">
      <ion-icon name="compass" item-start></ion-icon>
      Get Directions
       <ion-icon name="arrow-forward" item-end></ion-icon>
    </button>

    <button ion-item class="navig"  (click)="callmyNumber()">
      <ion-icon name="call" item-start></ion-icon>
      Call
       <ion-icon name="arrow-forward" item-end></ion-icon>
    </button>


  </ion-list>
  <ion-card class="bac">
    <h2>opening hours review to read more</h2>

  <button ion-button brown full text-capitalize  (click)="wedeventss()" class="rev">Write A  Review</button>
     <h2>opening hours review</h2>
  </ion-card>

<ion-list class="lis">
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/user.png">
    </ion-thumbnail>
    <h2>testlogin</h2>
    <p>Hayao Miyazaki • 1988</p>
    <button ion-button clear item-end>⭐⭐⭐⭐⭐</button>
     <span item-end>july2015</span>
  </ion-item>
</ion-list>
<ion-list class="lis">
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/user.png">
    </ion-thumbnail>
    <h2>testlogin</h2>
    <p>Hayao Miyazaki 1988</p>
    <button ion-button clear item-end>⭐⭐⭐⭐⭐</button>
    <span item-end>oct 2015</span>
  </ion-item>
</ion-list>

</ion-content>
