<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="brown">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

     <ion-row>
        <ion-col col-2>
          <img style="padding: 0px;border-radius: 50%;width:50px;" src="assets/imgs/user.png">
           

        </ion-col>

        <ion-col  col-7 >
          <p style="margin: 0px;
    padding-top: 5px;
    margin-left: 0px;
    font-size: 16px;" >Mayank</p>
      </ion-col>
      
           </ion-row>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	
</ion-content>
<ion-footer>
  
  <ion-toolbar >
  <div>
    <ion-textarea [(ngModel)]="newMessage" placeholder="Type a message" style="color:#262626;padding:5px;padding-right:20%;padding-left: 60px;height: 50px"></ion-textarea>
    <div ion-button style="left:1%;position:absolute;  padding:8px;top: 30%;border-radius: 50%;bottom: 15%; margin: 0;width:25px;height: 25px;font-size:10px" (click)="toggleGiphy()">
       Gif
    </div>
    <!--
    <button ion-button style="left:10%;position:absolute;  padding:8px;top: 30%;border-radius: 50%;bottom: 15%; margin: 0;width:25px;height: 25px;font-size:15px" (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'bottom'"
            (emojiPickerSelect)="handleSelection($event)"><ion-icon name="happy"> </ion-icon></button>
        -->
  </div>


  <button ion-button   [disabled]="showSelectedblock==false" (click)="sendMessage(newMessage,1); newMessage = '' && audio == false" style="position:absolute; right: 3%; padding:8px;top: 13px;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">
    <ion-icon name="md-send"></ion-icon>

  </button>
 
    <!--<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (touchend)="onRelease()" (pan)="panEvent($event)" (swipe)="onSwipeLeft()" style="">-->
      <!--<ion-icon name="md-mic"></ion-icon>-->
    <!--</button>-->

    
  
<!--
<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false" (click)="blockUser(this.recipient.id,this.isblock=true)" style="position: absolute;right: 26%;padding: 8px;top: 22%;border-radius: 50%;bottom: 15%;margin: 0;width: 35px; height: 35px;">
    <ion-icon name="md-mic"></ion-icon>
    

  </button> 

  
<button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false" (click)="unBlock(this.recipient.id,this.isblock=false)" style="position: absolute;right: 29%;padding: 8px;top: 22%;border-radius: 50%;bottom: 15%;margin: 0;width: 35px; height: 35px;">
    <ion-icon name="md-mic"></ion-icon>
</button> 

-->

    <!--0
      <button ion-button  (click)="sendAudio(filePath)"  style="position:absolute; right: 30%; padding:8px;top: 13px;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">
        <ion-icon name="md-send"></ion-icon>

      </button>
    -->
<!--
 <button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (touchend)="onRelease()" (pan)="panEvent($event)" (swipe)="onSwipeLeft()" style="">
    <ion-icon name="md-mic"></ion-icon>

  </button>
   <button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (pan)="panEvent($event)" (touchend)="onRelease()" (press) = "onPressed($event)" (release)="onRelease()"
    (swipe)="onSwipeLeft()" style="right:3px">
    <ion-icon name="md-mic"></ion-icon>

  </button>

  <button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"
    (touchend)="onRelease()" (pan)="panEvent($event)">
    <ion-icon name="md-mic"></ion-icon>

  </button>
  <button ion-button *ngIf="newMessage == '' && audio == true" (click)="sendAudio()" (touchend)="onRelease()" (swipe)="onSwipeLeft()"
    style="position:absolute; right: 3%; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">
    <ion-icon name="md-mic-off"></ion-icon>

  </button>
 <button ion-button *ngIf="newMessage == '' && audio == true"

    style="position:absolute; right: 3px; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:60px;height:60px">
    <ion-icon name="md-mic-off"></ion-icon>

  </button>

-->

  <!--
    <button ion-button  (click)="sendAudio(filePath)"  style="position:absolute; right: 18%; padding:8px;top: 13px;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">
    <ion-icon name="md-send"></ion-icon>

  </button>
-->
<!--
   <button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"   (press)="calll()"   style="position: absolute;right: 15%;padding: 8px;top: 22%;border-radius: 50%;bottom: 15%;margin: 0;width: 35px; height: 35px;">
    <ion-icon name="md-mic"></ion-icon>

  </button>
-->
<!--
  <button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"  (pan)="panEvent($event)" (touchend)="onRelease()" (press) = "onPressed($event)" (release)="onRelease()"
    (swipe)="onSwipeLeft()" style="right:3px">
    <ion-icon name="md-mic"></ion-icon>

  </button>


   <button id="audio_btn" ion-button *ngIf="newMessage == '' && audio == false"
    (touchend)="onRelease()" (pan)="panEvent($event)">
    <ion-icon name="md-mic"></ion-icon>

  </button>
-->
<!--
  <button ion-button *ngIf="newMessage == '' && audio == true" (click)="sendAudio()" (touchend)="onRelease()" (swipe)="onSwipeLeft()"
    style="position:absolute; right: 3%; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:35px;height:35px">
    <ion-icon name="md-mic-off"></ion-icon>

  </button>
   <button ion-button *ngIf="newMessage == '' && audio == true"

    style="position:absolute; right: 3px; padding:8px;top: 13%;border-radius: 50%;bottom: 15%; margin: 0;width:60px;height:60px">
    <ion-icon name="md-mic-off"></ion-icon>

  </button>
-->
  </ion-toolbar>

</ion-footer>

