<ion-header  >
  <ion-navbar color="brown">
  
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Vendors Near Me</ion-title>
	<!--
	<ion-buttons right>
        <button style="background-color:transparent;" (click)="goToMap()">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  -->
	
  </ion-navbar>
</ion-header>
<ion-content>
  <!--

  <ion-card (click)="wedevents()" *ngFor="let cate of catag | async">

  <ion-item>
    <ion-avatar item-start   >
      <img src="{{cate.backgroundImage}}">
    </ion-avatar>
   
    <ion-grid>
       <h3>{{cate.category}}</h3>
  <ion-row>
    <ion-col col-3 ><h2> ⭐⭐⭐⭐⭐</h2></ion-col>


    <ion-col col-6>
  <ion-icon name="pin" style="    padding-left: 53px;
    margin-top: 4px;
    font-size: 13px"></ion-icon>
     9.3 km</ion-col>
  </ion-row>
</ion-grid>
  <ion-card-content>
    <h2>{{cate.description}}</h2>
    <p>Openting hours 8 am to 5pm</p>
  </ion-card-content>

  </ion-item>


  <ion-row>
     <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="call"></ion-icon>
       </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="mail"></ion-icon>
       </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="chatboxes"></ion-icon>
      
      </button>
    </ion-col>
    <ion-col center text-center>
       <button ion-button icon-start clear small>
        <ion-icon name="heart-outline"></ion-icon>
      
      </button>
    </ion-col>
  </ion-row>

</ion-card>
-->

<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/user.png" (click)="wedevents()">
    </ion-avatar>
   
    <ion-grid>
       <h3>Urban Block</h3>
  <ion-row>
    <ion-col col-3 ><h2> ⭐⭐⭐⭐⭐</h2></ion-col>


    <ion-col col-6>
  <ion-icon name="pin" style="    padding-left: 53px;
    margin-top: 4px;
    font-size: 13px"></ion-icon>
     9.3 km</ion-col>
  </ion-row>
</ion-grid>
  <ion-card-content>
    <h2>Brackenfell Cape Town</h2>
    <p>Openting hours 8 am to 5pm</p>
  </ion-card-content>

  </ion-item>


  <ion-row>
     <ion-col>
      <button ion-button icon-start clear small (click)="callmyNumber()">
        <ion-icon name="call"></ion-icon>
       </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small (click)="openemail()">
        <ion-icon name="mail"></ion-icon>
       </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small (click)="openChat()" >
       <ion-icon name="chatboxes" ></ion-icon>
      </button>
    </ion-col>
    <ion-col>
       <button ion-button icon-start clear small (click)="addFavourate()" *ngIf="this.global.showicon == false">
      <ion-icon name="heart-outline"></ion-icon>
      </button>
      <button ion-button icon-start clear small (click)="addFavourates()" *ngIf="this.global.showicon == true">
      <ion-icon name="heart"></ion-icon>
      
      </button>
    </ion-col>
  </ion-row>

</ion-card>




</ion-content>

