page-list {
.button-small-md {
    height: 2.1em;
    font-size: 100%;
    padding: 0 0.9em;
}
.button-clear-md {
    border-color: transparent;
    color: #000;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.card-content-md {
   padding: 1px 16px;
    font-size: 13px;
    line-height: 1.5;
    padding-top: 0px;
    padding-left: 0px;
}
.card-md h2 {
    margin: 2px 0;
    font-size: 13px;
    /* font-weight: normal; */
    color: #000000;
    font-weight: bold;
    text-shadow: none;
}
.card-md p {
    margin: 0 0 2px;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5;
    color: #9e9e9e;
    font-family: serif;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 77px;
    height: 72px;
   float: left;
   margin-top:-16px;
}
[col-6] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 5 0 58%;
    width: 54%;
    max-width: 50%;
    font-size: 10px;
}
ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
    margin: -11px 8px 17px 0;
}

.item-md h3 {
    margin: 2px 0;
    font-size: 1.5rem;
  
    line-height: normal;
    font-weight: 600;
    color: #000000;
}
.card-md {
    margin: 10px 10px 0px;
    margin-bottom: 2px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

[icon-start] ion-icon {
    font-size: 1.9em;
    line-height: .67;
    pointer-events: none;
    padding-right: 0.3em;
}


.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
   color: #fff !important;
   text-shadow:none;
}

}
