<!--
  Generated template for the ChattingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="brown">
    <button ion-button style="background-color: transparent;">
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>

      <ion-buttons right>
        <button style="background-color:transparent;" (click)="logOut()">
            <ion-icon name="log-out" color = "primary"  style="position:relative; font-size:18px; color: #fff;"  >
              <span>Logout</span>
            </ion-icon>
        </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="chatt">
	<ion-list>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/images/background/2.jpg" (click)="openChat()">
    </ion-avatar>
    <h2>Venue Test</h2>
<h3>Urban Bridge</h3>
    <p>I've had a pretty messed up day.</p>
     <h1> 11.09 AM</h1>

  </ion-item>
</ion-list>
	<ion-list>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/images/background/2.jpg">
    </ion-avatar>
    <h2>Venue Test</h2>
<h3>Urban Bridge</h3>
    <p>I've had a pretty messed up day.</p>
     <h1> 12.09 AM</h1>

  </ion-item>
</ion-list>

</ion-content>
