page-chatting {
.item-md {

    border: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #fff;
    
}
.item-md h3 {
    margin: 2px 0;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: normal;
    color: rgba(0, 0, 0, 0.7019607843137254);
}

.item-md h1{
	float:right;
 color: rgba(0, 0, 0, 0.7019607843137254);
 font-size:12px;


}
.item-md h2{
    font-weight: 600;


}
ion-content {
   
    font-family: serif;
  
}

}
