<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
<ion-navbar color="brown">

<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
	
	<!--
		<ion-buttons right>
        <button style="background-color:white;" (click)="goToMap()">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  -->
</ion-navbar>
</ion-header>


<ion-content padding *ngIf="values.isLoggedIn && userProfiles" style="background-image: url(assets/images/logo/sky.jpg); background-size:100%">

<div style ="padding-top:30px;">
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
          <ion-list style="margin:15px 0 0 0;font-family: Arial ">
         <div *ngIf="userProfiles.photoURL" class="profile-image">
            <img src="{{userProfiles.photoURL}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;">
         </div>
         <div *ngIf="!userProfiles.photoURL" class="profile-image">
            <img src="{{values.avatar}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;">
         </div>
      </ion-list>
      </ion-avatar>
      <h2>{{userProfiles.displayName}}  {{userProfiles.lastName}}</h2>
      
    </ion-item>

    

    <ion-card-content>
	
	  <h2 style = "padding-top:20px;"><ion-icon item-start ios="ios-mail" md="md-mail"></ion-icon>Email: {{userProfiles.email}}</h2>
      <h2 style = "padding-top:20px;"><ion-icon name = "compass"></ion-icon>Address: {{userProfiles.address}}</h2>
	  <h2 style = "padding-top:20px;"><ion-icon name = "phone-portrait"></ion-icon>Phone Number: {{userProfiles.phone}}</h2>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left  (click)="address(userProfiles)" clear big>
        <ion-icon name="build"></ion-icon>
        <div>Edit</div>
      </button>
      </ion-col>
    
      <ion-col center text-center>
        <ion-note>
         {{userProfiles.timestamp}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  
        <ion-card style = "background-color:#dedede;" *ngIf="!userProfiles.facebook">
         <form #f="ngForm" style = "background-color:#dedede;">
            <ion-list style = "background-color:#dedede;">
				<ion-item style = "background-color:#dedede">
                  <ion-label floating style ="background-color:white;">Password</ion-label>
                  <ion-input required type="password" [(ngModel)]="form.password" name="password"></ion-input>
               </ion-item>
            </ion-list>
      <button ion-button icon-left (click)="changePassword(form)" clear big>
        
        <div>Change Password</div>
      </button>

            
         </form>
      </ion-card>
  
	  </div>
</ion-content>




