<!--
  Generated template for the ChecklistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar color="brown">
  
    <button ion-button menuToggle>
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <ion-title>GuestList</ion-title>
	<!--
	<ion-buttons right>
        <button style="background-color:transparent;" (click)="goToMap()">
						<ion-icon name="map" color = "primary"  style="position:relative; font-size:2em;"  >
							<span></span>
						</ion-icon>
        </button>
    </ion-buttons>
  -->
	
  </ion-navbar>
</ion-header>


<ion-content class="guestclass" style="font-family: serif;">
<ion-grid class="main">
  <ion-row>
  <p> ToTal:2(bride:1,Groom,Child:0)</p>
   </ion-row>
  </ion-grid>
<ion-grid class="head">
  <ion-row>
    <ion-col col-6>
     Guest(2)
    </ion-col>
    <ion-col col-2>
      Side
    </ion-col>
    <ion-col col-2>
      invite sent
    </ion-col>
    <ion-col col-2>
      Attending
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="con">
  <ion-row>
    <ion-col col-6>
     Jon Deo
    </ion-col>
    <ion-col col-2>
      dssd
    </ion-col>
    <ion-col col-2 class="in">
      V
    </ion-col>
    <ion-col col-2>
      2
    </ion-col>
  </ion-row>
</ion-grid><ion-grid class="con" >
  <ion-row>
    <ion-col col-6>
     ronald jos
    </ion-col>
    <ion-col col-2>
      groom
    </ion-col>
    <ion-col col-2  class="in">
    V
    </ion-col>
    <ion-col col-2>
      2
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>





<ion-footer>
 <ion-navbar color="brown" style="text-align: center;">
   <button style="background-color:transparent;" (click)="presentPrompt()">
            <ion-icon name="add"   style="position:relative; font-size:2em; color:#fff;"  >
              <span>New Category</span>
            </ion-icon>
        </button>
   </ion-navbar>
</ion-footer>
