<!--
  Generated template for the FindbycategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="brown">
  	   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Vendor By Category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/images/background/0.jpg"/>
    <div class="card-title">Bachelars</div>
  
  </ion-card>

  <ion-card>
    <img src="assets/images/background/1.jpg"/>
    <div class="card-title">Bars</div>
 
  </ion-card>

  <ion-card>
    <img src="assets/images/background/2.jpg"/>
    <div class="card-title">Beauty</div>
    
  </ion-card>

  <ion-card>
    <img src="assets/images/background/3.jpg"/>
    <div class="card-title">Madison</div>
   
  </ion-card>

</ion-content>